<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prediksi Suhu Udara</title>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <!-- CSS -->
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />
    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <style>
      /* Atur warna latar belakang */
      body {
        background-color: #f5f5fa; /* Warna abu-abu */
        margin-bottom: 60px; /* Sesuaikan dengan tinggi footer */
      }

      /* Gaya footer */
      .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #ffffff;
        padding: 10px 0;
        height: 60px; /* Sesuaikan dengan tinggi footer */
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-md-6">
          <div class="text-center mb-5">
            <h1>Prediksi Suhu Udara</h1>
          </div>
          <!-- Form untuk prediksi suhu -->
          <form action="{{ url_for('predict') }}" method="post">
            <div class="mb-3">
              <input type="number" class="form-control" id="Nh" name="Nh" step="0.01" min="0" max="100" placeholder="Masukkan nilai Nh (Jumlah Semua Awan) [0-100]" title="Masukkan nilai numerik dengan maksimal dua desimal (contoh: 20.5)" required />
            </div>
            <div class="mb-3">
              <input type="number" class="form-control" id="T" name="T" step="0.01" min="0" max="50" placeholder="Masukkan nilai T (Target Suhu) [0 atau 22,6-36,8]" title="Masukkan nilai numerik dengan maksimal dua desimal (contoh: 36.8)" required />
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-warning w-100">Prediksi</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-md-6">
          <!-- Upload file Excel -->
          <form action="{{ url_for('predict') }}" method="post" enctype="multipart/form-data">
            <div class="text-center mb-5">
              <h5>Atau prediksi melalui file disini</h5>
              <p>Pastikan file memiliki header kolom [Nh] dan [T]</p>
            </div>
            <div class="row mb-3">
              <div class="col-md-8">
                <input class="form-control" type="file" id="file" name="file" accept=".xlsx" title="Pastikan file .xlsx terdapat header kolom [Nh] dan [T]" required />
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-warning w-100">Unggah</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Hasil Prediksi -->
      <hr />
      <!-- Tampilkan tabel prediksi jika ada -->
      {% if prediction_table %}
      <div class="row justify-content-center mt-3">
        <div class="col-md-8">
          <div class="text-center">
            <div class="mb-3">
              <h2>Hasil Prediksi</h2>
            </div>
            <div class="table-responsive">
              <table class="table table-striped" id="prediction_table">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Jumlah Awan (%)</th>
                    <th>Nh Label</th>
                    <th>Prediksi Suhu (°C)</th>
                  </tr>
                </thead>
                <tbody>
                  {% for index, row in prediction_df.iterrows() %}
                  <tr>
                    <td>{{ loop.index}}</td>
                    <td>{{ row['Jumlah Awan'] }}</td>
                    <td>{{ row['Nh Label'] }}</td>
                    <td>{{ row['Prediksi Suhu'] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <!-- JavaScript untuk inisialisasi DataTables -->
            <script>
              $(document).ready(function () {
                $("#prediction_table").DataTable({
                  paging: true,
                  pageLength: 10,
                });
              });
            </script>

            <!-- Tombol download -->
            <div class="row justify-content-center mb-3">
              <div class="col">
                <a href="{{ url_for('home') }}" class="btn btn-primary mt-3">Ulangi</a>
                <a href="{{ download_link }}" class="btn btn-warning mt-3">Unduh Prediksi</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <!-- Footer -->
    <div class="footer text-center" style="background-color: #ffffff; padding: 10px 0">
      <p>&copy; 2024 Skripsi - Anjani Dwilestari</p>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-+voBBN5F5BRf/x5s0j28rPdYorogHsTs+jTkVvk5UL0vEArUfweha0El+NyoXp+1" crossorigin="anonymous"></script>
  </body>
</html>
